.A{
    background:white
}
.name1{
    text-align: center;
    background-color: beige;
    height:200px;
}
.about{text-align: center;
    background-color: beige;
    height:200px;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display SC',serif;

}